<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title th:text="${title}">Add Book</title>
</head>
<body style="background-color: black">
<div class="container" style="margin: 3rem; background-color: whitesmoke; overflow: hidden">
    <h2 style="display: inline-block" class="text-primary" th:text="${title}">  Add New Book</h2>

    <hr/>

    <form th:action="@{/saveBook}" th:object="${formData}" method="POST">

        <label class="form-label"><strong>Title</strong></label>
        <input type="text" th:field="*{title}" class="form-control col-4 mb-4" placeholder="Enter Title" />
        <label class="form-label"><strong>Author</strong></label>
        <input type="text" th:field="*{author}" class="form-control col-4 mb-4" placeholder="Enter Author" />
        <label class="form-label"><strong>Publisher</strong></label>
        <input type="text" th:field="*{publisher}" class="form-control col-4 mb-4" placeholder="Enter Publisher" />
        <label class="form-label"><strong>Category</strong></label>
        <input type="text" th:field="*{category}" class="form-control col-4 mb-4" placeholder="Enter Category" />
        <label class="form-label"><strong>ISBN</strong></label>
        <input type="text" th:field="*{isbn}" class="form-control col-4 mb-4" placeholder="Enter ISBN" />
        <label class="form-label" ><strong>Price Each</strong></label>
        <input type="text" th:field="*{priceEach}" class="form-control col-4 mb-4" placeholder="Enter Price Each" />
        <label class="form-label"><strong>Quantity</strong></label>
        <input type="text" th:field="*{qty}" class="form-control col-4 mb-4" placeholder="Enter Qty OnHand" />

        <button type="submit" class="btn btn-primary col-2"> <strong>Save</strong> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
            <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
        </svg></button>
    </form>
    <hr/>
    <a th:href="@{/listBook}">Return to Dashboard</a>



</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>