 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

    <title>Story Keeper</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Story Keeper</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/listBook}">Books</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/listCustomer}">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/listOrder}">Orders</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="d-flex justify-content-center align-items-center">
    <img th:src="@{/img/logo.png}"/>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>