<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
  <title>Orders</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">Story Keeper</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/listBook}">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/listCustomer}">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/listOrder}">Orders</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" style="margin: 3rem; text-align: center; background-color: whitesmoke; overflow: hidden">
  <!--header -->

  <svg   xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-clipboard-data-fill" viewBox="0 0 16 16">
    <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z"/>
    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1ZM10 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V8Zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1Zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"/>
  </svg>
<h2 style="display: inline-block">Orders</h2>




<div class="container-fluid" style="margin: 3rem">
    <form th:action="@{/searchOrderEmail}" method="get">
      <input class="form-text" type="text" name="keyword" th:value="${email}"  placeholder="Find Order by Email" size="50" >
      <button type="submit" class="btn btn-primary" >Search</button>
      <a th:href="@{/listOrder}" class="btn btn-secondary">Clear</a>
    </form>
</div>
</div>

<div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Customer Email</th>
      <th>Items Ordered</th>
      <th>Subtotal</th>
      <th>Tax Amount</th>
      <th>Grand Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orderList}">
      <td th:text="${order.customerEmail}"></td>
      <td th:text="${order.items.size()}"></td>
      <td th:text="${order.subTotal}"></td>
      <td th:text="${order.taxAmount}"></td>
      <td th:text="${order.grandTotal}"></td>
      <td>
        <a th:href="@{/showOrderUpdateForm(id=${order.id})}" class="btn btn-info"> <small><em> Edit </em>  </small> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg> </a>
      </td>
      <td>
        <form th:action="@{/remove-order}" method="post">
          <input type="hidden" name="id" th:value="${order.id}">
          <button type="submit" class="btn btn-success">Order Complete <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
            <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/>
          </svg></button>
        </form>


      </td>
    </tr>
    </tbody>
  </table>

</div>



<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>